#panda-login{
	animation: pulsar 10s infinite;
}

@keyframes pulsar{
	from{
		transform:scale(0.9);
	}
	
	to{
		transform:scale(1);
	}
}


#panda-login{
	animation: girar 30s infinite;
}

@keyframes girar{
	from{
		transform:rotate(0deg);
	}
	
	to{
		transform:rotate(360deg);
	}
}